@model BookStore.Domain.Entities.Book

<div class="well">
    <h3>
        <strong>@Model.Title</strong>
    </h3>
    <span class="pull-right label label-primary">
        @Model.Price.ToString("c")
    </span>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <span class="lead">
            @Model.Specialization <br />
            @Model.Description
        </span>
        <div class="">
            @Html.HiddenFor(b => b.ISBN)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add To Cart" />
        </div>
    }
</div>