@model BookStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Bookstore: Your Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Cart</h2>
<table class="table">
    <thead>
    <th>Item</th>
    <th class="text-right">Price</th>
    <th>Quntity</th>
    <th class="text-right">sub-total</th>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Book.Title </td>
                <td class="text-right">@line.Book.Price.ToString("c") </td>
                <td class="text-left">@line.Quantity </td>
                <td class="text-right">@((@line.Quantity * line.Book.Price).ToString("c")) </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right ">Total: </td>
            <td class="text-right">@Model.Cart.GetTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary " href="@Model.ReturnUrl">Continue Shopping</a>
</div>