@model BookStore.Domain.Entities.Book

@{
    //ViewBag.Title = "Admin: Edit" + Model.Title;
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.Title</h3>
    </div>
</div>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //@Html.EditorForModel();
    <div class="panel-body">
        @Html.HiddenFor(b => b.ISBN)

        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (property.PropertyName != "ISBN" && property.PropertyName != "ImageData" && property.PropertyName != "ImageMimeType")
            {
                <div class="form-group">
                    <label>@(property.DisplayName ?? property.PropertyName )</label>
                    @if (property.PropertyName == "Description")
                    {
                        @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 });
                    }
                    else if (property.PropertyName == "VersionDate")
                    {
                        @Html.TextBox(property.PropertyName, null, "{0:dd/MM/yyyy}", new { @class = "datepicker form-control" });
                    }
                    else
                    {
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" });
                    }

                    @Html.ValidationMessage(property.PropertyName)
                </div>
            }
        }

        <div class="form-group">
            <div style="position: relative;">
                <label>Image: </label>
                <a class="btn" href="javascript:;">
                    Choose Image...
                    <input type="file" name="upImage" id="upImage" size="40" onchange='$("upload-file-info").html($(this).val());'
                           style="position:absolute; z-index:2; top:0; left:0;filter: alpha(opacity:0); opacity:0; background-color: transparent; color: transparent;" />
                </a>
                <span class="label label-info " id="upload-file-info"></span>
            </div>
            @if (Model.ImageData != null)
            {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Book", new { Model.ISBN})" />
            }
            else
            {
                <div class="form-control-static">No Image</div>
            }
        </div>

    </div>
    <div class="panel-footer">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel and return to list", "Index", null, new { @class = "btn btn-default" });
    </div>
}
